<h1><%=pagetitle %></h1>
<% for(var i=0;i<products.length;i++) {%>
  <div class="row">
    <div class="col-12"><h3><%=products[i].name %></h3></div>
    <div class="col-8">
      <p class="pl-2">
        <img
          src="/images/uploaded/<%=products[i].image %>"
          alt=""
          style="float: left; padding: 10px"
          width="200px"
        /><%=products[i].description %>
      </p>
    </div>
    <div class="col-4">
      <a href="/add-cart/<%=products[i]._id %>" class="btn btn-info w-full"
        >Add To Cart</a
      >
      <dl>
        <dt>Price</dt>
        <dd><%=products[i].price %></dd>
        <dt>Color</dt>
        <dd><%=products[i].color %></dd>
        <dt>Department</dt>
        <dd><%=products[i].department %></dd>
      </dl>
    </div>
  </div>
  <% } %>
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active">
        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</products.length;i++)>
